
body{
background-color:black;

}

#signup{
color:blue;
text-align:center;

}
#signupdiv{
border-style: outset ;
  border-color:red;
  margin-top:100px;
  margin-left:30px;
  margin-right:30px;
  padding:10px;
  border-radius: 25px;

}

.mydiv{
  border-style: outset ;
  border-color:red;
  background-color: lightblue;    
  text-align: center;
  margin-top:px;
  margin-left:px;
  margin-right:px;
  
  
  
  padding:10px;
}
@media sreen and (min-width:1200px){
{

#body{
background-color:red;

}




}



