
body{
background-color:red;
background-image: url("Back.jpg");
background-attachment: fixed;
background-size: cover;


}

#signup{
color:blue;
text-align:center;

}
#signupdiv{
border-style: outset ;
  border-color:red;
  margin-top:100px;
  margin-left:30px;
  margin-right:30px;
  padding:10px;
  border-radius: 25px;

}

.mydiv{
  border-style: outset ;
  border-color:red;
  background-color: lightblue;    
  text-align: center;
  margin-top:px;
  margin-left:px;
  margin-right:px;
  
  
  
  padding:10px;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: ;
    background-image: url("FRONT.jpg");
background-attachment: fixed;
background-size: cover;
  }
  .mydiv{

margin-top:5px;
margin-left:500px;
margin-right:px;


}
#signupdiv{
border-style: outset ;
  border-color:red;
  margin-top:200px;
  margin-left:530px;
  margin-right:30px;
  padding:0px;
  border-radius: 25px;

}

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: ;
    background-image: url("Back.jpg");
    background-attachment: fixed;
background-size: cover;
  }
  .mydiv{

margin-top:0px;
margin-left:0px;
margin-right:0px;

}#signupdiv{
 margin-top:100px;
  margin-left:30px;
  margin-right:30px;
}
}

